body {
    margin: 0;
    background-color: #f8f8f8;
}
/* headers */
#university-name-header {
    background-color: cadetblue;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0 15px 0;
    text-align: center;
    font-size: larger;
    font-family: 'Open Sans', sans-serif;
}
#syllabus-header {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 0 10px 0;
    text-align: center;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
}
/* controls */
#controls {
    margin: 15px 75px 15px 75px;
    padding: 10px;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}
#nni-faculty-input-wrapper {
    margin-top: 0;
}
div[id^="flex-"][id$="-wrapper"],
#submit-btn {
    margin-top: 7px;
}
#nni-faculty-input-wrapper {
    display: flex;
    justify-content: center;
}
#nni-faculty-input option {
    font-size: medium;
}
#flex-group-subgroup-wrapper,
#flex-date-input-wrapper {
    display: flex;
    justify-content: center;
}
#group-input,
#from-date {
    margin-right: 15px;
}
label[id$="-input-label"],
label[id$="-date-label"] {
    font-family: 'Roboto Mono Light for Powerline', sans-serif;
}
thead {
    background-color: #e9ecef;
}
thead tr th {
    padding: 3px;
}
#table-content {
    width: 100%;
}
#table-item-data {
    margin: 0 0 0 75px;
}
p[id$="-label"] {
    margin-left: 75px;
    margin-top: 30px;
}
td[id ~= -lessonId-] {
    padding-left: 7px;
}
table[id$="-table"] {
    margin: 0 75px 0 75px;
}
.footer {
    margin: 74px;
}